html {
    margin: 0;
}

body {
    margin: 0;
    background-color: #f2f2f2;
    font-family: sans-serif;
    overflow: hidden;
}

/*----- Loading -----*/
.loading {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #000;
    opacity: 0.5;
    z-index: 2;
    display: none;
}

.loading span {
    display: block;
    font-size: 30px;
    text-align: center;
    font-weight: 700;
    color: #fff;
    margin-top: 50px;
}

/*----- Menu Buttons -----*/
.menu-button {
    display: inline-block;
    position: fixed;
    right: 1%;
    padding: 5px 0;
    text-align: center;
    cursor: pointer;
    border-radius: 2px;
    box-shadow: 0 1px 2px black;
    transition:all linear 0.1s;
    z-index: 1;
    width: 13%;
    white-space: nowrap;
}

.menu-button.submit {
    top: 35px;
    background-color: darkred;
    color: white;
}
.menu-button.submit:hover {
    background-color: red;
}
.menu-button.submit:active {
    background-color: darkred;
    box-shadow: 0px 0 0 #111;
}

.menu-button.select-all {
    top: 70px;
    background-color: darkgreen;
    color: white;
}
.menu-button.select-all:hover {
    background-color: green;
}
.menu-button.select-all:active {
    background-color: darkgreen;
    box-shadow: 0px 0 0 #111;
}

.menu-button.clear {
    top: 105px;
    background-color: darkgreen;
    color: white;
}
.menu-button.clear:hover {
    background-color: green;
}
.menu-button.clear:active {
    background-color: darkgreen;
    box-shadow: 0px 0 0 #111;
}

/*----- Tabs -----*/
.tabs {
    width:85%;
    display:inline-block;
    border-right: 2px solid #aaa;
}
 
/*----- Tab Links -----*/
/* Clearfix */
.tab-links:after {
    display:block;
    clear:both;
    content:'';
}

ul.tab-links {
    margin: 5px 0 0 0;
}
.tab-links li {
    margin:0px 5px;
    float:left;
    list-style:none;
}
 
.tab-links a {
    padding:6px 15px;
    display:inline-block;
    border-radius:3px 3px 0px 0px;
    background:#7FB5DA;
    font-size:13px;
    font-weight:600;
    color:#4c4c4c;
    text-decoration:none;
    border-bottom: -1px solid #fff;
}

.tab-links a:hover {
   background:#a7cce5;
}

.tab-links li.custom-test a {
    display: none;
    white-space: nowrap;
}

.tab-links li.results a {
    display: none;
    background-color: #AA3939;
    color:#fff;
    font-weight: bold;
}
.tab-links li.results a:hover {
    background-color: #D46A6A;
    color:#fff;
}
 
.tab-links li.active a, .tab-links li.active a:hover {
    background:#fff;
    color:#4c4c4c;
}

.tab-links li.active.results a, .tab-links li.active.results a:hover {
    background:#fff;
    color:#4c4c4c;
}
 
/*----- Content of Tabs -----*/
.tab-content {
    padding:8px;
    border-radius:3px;
    box-shadow:-1px 1px 1px rgba(0,0,0,0.15);
    background:#fff;
    height: 188px;
    overflow: auto;
    border-top: 2px solid #aaa;
}
 
.tab {
    display:none;
}

.tab.active {
   display:block;
}

/*----- Collapsible Lists -----*/
.list-block {
    border: 1px dashed #dcdcdc;
    padding: 3px;
    padding-right: 20px;
    border-radius: 5px;
    margin: 3px 0;
}

.collapsible-list {
    display: none;
    list-style-type: none;
    margin: 2px 0;
}

.collapsible-list li {
    cursor: pointer;
    padding: 4px 0 4px 22px;
    border-top: 1px solid #dcdcdc;
    background: #fff;
    color: #000;
}

.collapsible-list li:hover {
    background-color: #f6f6f6;
}
.collapsible-list li.active {
/*    background-color: #7BBF6A; */
    background: #f6f6f6 url('check1.png') no-repeat left;
    background-size: 18px;
/*    color: #fcfcfc;  */
}

.list-li-label {
    display: inline-block;
    padding: 2px 16px;
    margin: 1px 5px;
    background-color: #2D4671;
    color: #fff;
    border-radius: 2px;
}

.list-label {
    font-weight: bold;
    display: inline-block;
    cursor: pointer;
    margin: 3px 0 3px 20px;
    padding: 5px 0 3px 22px;
    background: url('plus1.jpg') no-repeat left;
    background-size: 20px;
    width: 120px;
}

.list-label.open {
    background: url('minus1.png') no-repeat left;
    background-size: 20px;
}

.list-button {
    margin-top: 3px;
    margin-left: 10px;
    display: inline-block;
    border-radius: 2px;
    background-color: #7BBF6A;
    padding: 4px 6px;
    cursor: pointer;
    box-shadow: 0 1px 2px black;
    transition:all linear 0.1s;
    float: right;
}

.list-button:hover {
    background-color: #A8DB9B;
}

.list-button.active {
    box-shadow: 0 0 0 black;
    background-color: #A8DB9B;
    color: #4c4c4c;
}

.list-button.custom-test {
    float: none;
    margin: 3px 10px;
}

/*----- Results Tab -----*/
.results-totals {
    display: inline-block;
    padding: 4px 16px;
    margin: 1px 5px;
    background-color: #2D4671;
    color: #fff;
    border-radius: 2px;
}

.results-totals.total-severe {
    background-color: #AA3939;
}
.results-totals.total-moderate {
    background-color: #AA7A39;
}
.results-totals.total-suggestion {
    background-color: #448F30;
}

.results-list {
    list-style-type: none;
    margin: 2px 0;
    display: none;
}

.results-list li {
    cursor: pointer;
    padding: 4px 0 4px 22px;
    border-top: 1px solid #dcdcdc;
    background: #fff;
    color: #000;
}

.results-list li:hover {
    background-color: #f6f6f6;
}
.results-list li.active {
/*    background-color: #7BBF6A; */
    background: #f6f6f6 url('check1.png') no-repeat left;
    background-size: 18px;
/*    color: #fcfcfc;  */
}

/*------ Custom Tests Tab -----*/

.custom-input {
    font-style: Courier;
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
}

label {
    display: block;
    font-weight: 700;
    margin: 3px 5px 5px 5px;
}